.post {
  border: solid 1px #ccc;
  background-color: #fff;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}
.post > .content {
  margin: 0 20px;
}
.author {
  display: flex;
  margin: 20px;
}
.author > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.author > .details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.author > .details > .name {
  font-weight: bold;
  font-size: 18px;
}
.author > .details > .date {
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

.divider {
  height: 1px;
  background-color: #eee;
  margin: 15px 10px;
}
