.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 64px;
  background-color: #4a90e2;
}

.header-logo {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  float: left;
  margin-left: 2rem;
  margin-top: 1.15rem;
  cursor: pointer;
}

.header-user {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  float: right;
  margin-right: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.header-user > i {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
